body {
    padding: 0px;
    margin: 0px;
    background-size: cover;
    font-family: Arial, sans-serif;
}
.header {
    background-image: url('./images/background-image.png');
    background-size: cover;
    text-align: center;
    padding: 200px;
    color: black;
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header h1 {
    margin-top: 150px;
    animation: fade-in 1s;
}

@keyframes fade-in {
    0% {
        opacity: -2;
    }
    100% {
        opacity: 1;
    }
}
.subtext {
    font-size: 20px;
    animation: fade-in 1s;
}
@keyframes fade-in {
    0% {
        opacity: -2;
    }
    100% {
        opacity: 1;
    }
}
.download-button {
    align-items: center;
    /* margin-top: 20px; */
    padding: 10px 20px;
    background-color: #303030;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    animation: pulse 1s;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#link{
    color: white;
    text-decoration: none;
}
.download-button:hover {
    background-color: #202020;
}

@keyframes slide-in {
    0% {
        transform: translateX(500%);
    }
    100% {
        transform: translateX(0);
    }
}



.card{
    display: flex;
    flex-direction: wrap;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.9);
    margin: 20px;
    padding: 10px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
.container{
    display: flex;
    flex-direction: wrap;
}
.btn-dark{
    background-color: #303030;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}
.navbar {
    height: 65px;
}
.footer {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer p {
    margin: 0;
}
#display{
    display: flex;
    flex-direction: wrap;
    justify-content: center;

}
.icon {
    width: 180px;
    height: 100px;
    text-align: center;
    padding: 15px;
    color: white;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
   
  }
  
  #Medical {
    background-color: #ff9933;
  }
  
  #Prescription {
    background-color: #FF69B4;
  }
  
  #health {
    background-color: #3CB371;
  }
  #Contact {
    background-color: #0066ff;
  }
  
  #Doctor {
    background-color: #ff0066;
  }
  
  #Complaints {
    background-color: #ff3300;
  }
.cart{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    margin: 20px;
}  